<header>
    <h1 class="logo">IngSystemCix</h1>
    <div>
        <a href="/#experiencia" class="btn_header" title="Experiencia"><i class="bi bi-code-slash"></i><span>Experiencia</span></a>
        <a href="/#proyectos" class="btn_header" title="Proyectos"><i class="bi bi-cast"></i><span>Proyectos</span></a>
        <a href="/#sobre-mi" class="btn_header" title="Sobre mi"><i class="bi bi-person-square"></i><span>Sobre mi</span></a>
        <a href="mailto:juanromerocollazos@gmail.com" class="btn_header" title="Contacto"><i class="bi bi-envelope"></i><span>Contacto</span></a>
    </div>
</header>